[submodule "edbee-lib"]
	path = edbee-lib
	url = git@github.com:edbee/edbee-lib
[submodule "diff-match-patch-cpp-stl"]
	path = diff-match-patch-cpp-stl
	url = https://github.com/leutloff/diff-match-patch-cpp-stl.git
